{% extends "base.html" %}

{% block content %}

<h3>{{ video.name }}</h3>


<script>
    function setVideoToTimestamp(timestamp) {
        const date = new Date(parseInt(timestamp));
        var vid = document.getElementById("videoPlayer");
        vid.currentTime = date.getSeconds();
    }
</script>


<div class="row mt-4">
    <div class="col-xl-3">
        <div class="card sticky-top">
            <div class="card-header">
                <h5>Tracked Video</h5>
            </div>

            <div>
                <video id="videoPlayer" class="embed-responsive" controls muted="muted">
                    <source id="videoSource" src="http://localhost:3000/videos/{{ video.name }}/download/"
                            type="video/mp4">
                </video>
            </div>
        </div>
    </div>

    <div class="col-xl-8">
        <div class="card">
            <div class="card-header">
                <h5>Detected Groups</h5>
            </div>
            <div class="card-body">

                <div class="row mb-3">
                    <div class="col-11">
                        <label for="groupSizeSlider">Group Size
                            <button class="btn btn-sm"
                                    data-container="body"
                                    data-toggle="popover"
                                    data-placement="right"
                                    data-content="The minimum number of people in a group">
                                <i class="fas fa-info-circle"></i>
                            </button>
                        </label>
                        <input type="range"
                               class="custom-range"
                               min="2"
                               max="10"
                               id="groupSizeSlider"
                               value="1"
                               oninput="groupSizeOutput.value = groupSizeSlider.value">
                    </div>
                    <div class="col-1 align-self-center text-center">
                        <output class="h5" name="groupSizeName" id="groupSizeOutput">2</output>
                    </div>
                </div>

                <hr/>

                <div class="row mb-3">
                    <div class="col-11">
                        <label for="groupDuration">Group Duration
                            <button class="btn btn-sm"
                                    data-container="body"
                                    data-toggle="popover"
                                    data-placement="right"
                                    data-content="The minimum duration a group appears in the video (in ms)">
                                <i class="fas fa-info-circle"></i>
                            </button>
                        </label>
                        <input type="range"
                               class="custom-range"
                               value="1"
                               min="1"
                               max="1000"
                               id="groupDuration"
                               oninput="groupDurationOutput.value = groupDuration.value">
                    </div>
                    <div class="col-1 align-self-center text-center">
                        <output class="h5" name="groupDurationName" id="groupDurationOutput">1</output>
                    </div>
                </div>

                <ul id="groups" class="list-unstyled mt-5">
                    {% for hash, group in video.groups %}
                    <li id="group{{ group.group_nr }}" class="media mb-2">
                        <img src="http://localhost:3000/{{ video.image_dir + '/group_' + group.group_nr + '.jpg' }}"
                             class="mr-3" alt="...">
                        <div class="media-body">
                            <table class="table">
                                <tbody>
                                <tr>
                                    <th scope="row">Group number</th>
                                    <td>{{ group.group_nr }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Frame</th>
                                    <td>{{ group.frame }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Time Stamp</th>
                                    <td>
                                        <button class="btn btn-primary btn-sm"
                                                onclick="setVideoToTimestamp({{ group.timestamp }})">
                                            {{ group.timestamp | round(1, "floor") }}
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">Duration</th>
                                    <td>{{ group.duration }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Size</th>
                                    <td id="groupSize-group{{ group.group_nr }}">{{ group.persons | length }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">People IDs</th>
                                    <td>
                                        {% for num in group.persons %}
                                        {{ num }},
                                        {% endfor %}
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </li>
                    {% else %}
                    No groups detected!
                    {% endfor %}
                </ul>
            </div>
        </div>


    </div>
</div>

<script>

    const groupSizeSlider = document.getElementById('groupSizeSlider');

    groupSizeSlider.addEventListener('input', function (event) {
        console.log('slider changed!');
        updateGroupBySize();
    });

    function updateGroupBySize() {
        const groupsElement = document.getElementById('groups');
        for (let i = 1; i < groupsElement.children.length+1; i++) {
            const groupElement = document.getElementById('group'+i);
            const size = parseInt(document.getElementById('groupSize-group'+i).textContent);
            const sliderSize = parseInt(groupSizeSlider.value);
            console.log(`group size ${size} is smaller than slider size ${groupSizeSlider.value}?:`, size < sliderSize);
            if (size < sliderSize){
                groupElement.setAttribute('hidden', '');
            }
            else {
                groupElement.removeAttribute('hidden');
            }
        }
    }
</script>


{% endblock %}
