{% extends "base.html" %}

{% block content %}

<h3>{{ video.name }}</h3>


<script>
    function setVideoToTimestamp(timestamp) {
        const date = new Date(parseInt(timestamp));
        var vid = document.getElementById("videoPlayer");
        vid.currentTime = date.getSeconds();
    }
</script>


<div class="row mt-4">
    <div class="col-xl-3">
        <div class="card sticky-top">
            <div class="card-header">
                <h5>Tracked Video</h5>
            </div>

            <div>
                <video id="videoPlayer" class="embed-responsive" controls muted="muted">
                    <source id="videoSource" src="http://localhost:3000/videos/{{ video.name }}/download/"
                            type="video/mp4">
                </video>
            </div>
        </div>
    </div>

    <div class="col-xl-8">
        <div class="card">
            <div class="card-header">
                <h5>Detected Groups</h5>
            </div>
            <div class="card-body">
                <ul class="list-unstyled">
                    {% for hash, group in video.groups %}
                    <li class="media mb-2">
                        <img src="http://localhost:3000/{{ video.image_dir + '/group_' + group.group_nr + '.jpg' }}"
                             class="mr-3" alt="...">
                        <div class="media-body">
                            <table class="table">
                                <tbody>
                                <tr>
                                    <th scope="row">Group number</th>
                                    <td>{{ group.group_nr }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Frame</th>
                                    <td>{{ group.frame }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Time Stamp</th>
                                    <td>
                                        <button class="btn btn-primary btn-sm"
                                                onclick="setVideoToTimestamp({{ group.timestamp }})">
                                            {{ group.timestamp | round(1, "floor") }}
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">Duration</th>
                                    <td>{{ group.duration }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">People</th>
                                    <td>
                                        {% for num in group.persons %}
                                        {{ num }},
                                        {% endfor %}
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </li>
                    {% else %}
                    No groups detected!
                    {% endfor %}
                </ul>
            </div>
        </div>


    </div>
</div>


{% endblock %}
